In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('base_ac4.csv')

In [3]:
print(df)

     TIPO_CLIENTE CD_SEXO  IDADE  PAGOU
0              V0       M   26.0      0
1              V0       M   39.0      1
2              V0       M   31.0      0
3              V0       F   45.0      0
4              V0       F   25.0      1
5              V0       M   35.0      0
6              V0       M   39.0      0
7              V0       F   38.0      1
8              V0       M   64.0      1
9              V0       M   31.0      0
10             V0       M   38.0      0
11             IN       M   37.0      0
12             V0       M   46.0      1
13             V0       M    NaN      0
14             IN       M   47.0      1
15             VG       M   36.0      0
16             IN       M   36.0      1
17             IN       M   38.0      1
18             IN       M   33.0      0
19             V0       F   36.0      0
20             IN       M   31.0      1
21             V0       F    NaN      0
22             V0       M   31.0      0
23             V0       M    NaN      0
24             IN       M   35.0      1
25             IN       F   44.0      1
26             IN       F   69.0      0
27             V0       M   76.0      0
28             IN     NaN   24.0      1
29             V0       F   39.0      0
...           ...     ...    ...    ...
1743           V0       M   46.0      1
1744           IN       F   54.0      1
1745           V0       M   37.0      0
1746           V0       M   38.0      1
1747           V0       M   18.0      1
1748           V0       F   24.0      0
1749           VG       M   42.0      1
1750           V0       M   26.0      0
1751           V0       M   33.0      0
1752           V0       M   28.0      0
1753           VG       M   50.0      0
1754           V0       M    NaN      0
1755           V0       I    NaN      0
1756           IN       M   38.0      0
1757           IN       I   45.0      0
1758           V0       F   40.0      0
1759           V0       F   52.0      1
1760           V0       M   40.0      1
1761           V0       M    NaN      1
1762           IN       M   66.0      0
1763           V0       F   31.0      1
1764           V0       M   28.0      0
1765           V0       M   40.0      1
1766           VG     NaN   36.0      1
1767           VG       M   48.0      0
1768           V0       M   32.0      1
1769           V0       M   25.0      0
1770           IN       F   49.0      1
1771           IN       F   44.0      1
1772           V0       F   69.0      1

[1773 rows x 4 columns]

In [4]:
# Substituindo os NaN de sexo com I (Indefinido)

In [5]:
df["CD_SEXO"].fillna("I", inplace=True)

In [6]:
# Substituindo os NaN de idade pela média

In [7]:
df["IDADE"].fillna(df['IDADE'].mean(), inplace=True)

In [8]:
# Dataframe com os dados "limpos"

In [9]:
print(df)

     TIPO_CLIENTE CD_SEXO      IDADE  PAGOU
0              V0       M  26.000000      0
1              V0       M  39.000000      1
2              V0       M  31.000000      0
3              V0       F  45.000000      0
4              V0       F  25.000000      1
5              V0       M  35.000000      0
6              V0       M  39.000000      0
7              V0       F  38.000000      1
8              V0       M  64.000000      1
9              V0       M  31.000000      0
10             V0       M  38.000000      0
11             IN       M  37.000000      0
12             V0       M  46.000000      1
13             V0       M  39.157629      0
14             IN       M  47.000000      1
15             VG       M  36.000000      0
16             IN       M  36.000000      1
17             IN       M  38.000000      1
18             IN       M  33.000000      0
19             V0       F  36.000000      0
20             IN       M  31.000000      1
21             V0       F  39.157629      0
22             V0       M  31.000000      0
23             V0       M  39.157629      0
24             IN       M  35.000000      1
25             IN       F  44.000000      1
26             IN       F  69.000000      0
27             V0       M  76.000000      0
28             IN       I  24.000000      1
29             V0       F  39.000000      0
...           ...     ...        ...    ...
1743           V0       M  46.000000      1
1744           IN       F  54.000000      1
1745           V0       M  37.000000      0
1746           V0       M  38.000000      1
1747           V0       M  18.000000      1
1748           V0       F  24.000000      0
1749           VG       M  42.000000      1
1750           V0       M  26.000000      0
1751           V0       M  33.000000      0
1752           V0       M  28.000000      0
1753           VG       M  50.000000      0
1754           V0       M  39.157629      0
1755           V0       I  39.157629      0
1756           IN       M  38.000000      0
1757           IN       I  45.000000      0
1758           V0       F  40.000000      0
1759           V0       F  52.000000      1
1760           V0       M  40.000000      1
1761           V0       M  39.157629      1
1762           IN       M  66.000000      0
1763           V0       F  31.000000      1
1764           V0       M  28.000000      0
1765           V0       M  40.000000      1
1766           VG       I  36.000000      1
1767           VG       M  48.000000      0
1768           V0       M  32.000000      1
1769           V0       M  25.000000      0
1770           IN       F  49.000000      1
1771           IN       F  44.000000      1
1772           V0       F  69.000000      1

[1773 rows x 4 columns]

In [10]:
from sklearn.preprocessing import MultiLabelBinarizer

In [11]:
mlb = MultiLabelBinarizer()

In [12]:
# aplicando o binary encoding nas colunas de sexo e tipo_cliente

In [13]:
df = df.join(pd.DataFrame(mlb.fit_transform(df.pop('CD_SEXO')),
                         columns=mlb.classes_,
                        index=df.index))

In [14]:
print(df)

     TIPO_CLIENTE      IDADE  PAGOU  F  I  M
0              V0  26.000000      0  0  0  1
1              V0  39.000000      1  0  0  1
2              V0  31.000000      0  0  0  1
3              V0  45.000000      0  1  0  0
4              V0  25.000000      1  1  0  0
5              V0  35.000000      0  0  0  1
6              V0  39.000000      0  0  0  1
7              V0  38.000000      1  1  0  0
8              V0  64.000000      1  0  0  1
9              V0  31.000000      0  0  0  1
10             V0  38.000000      0  0  0  1
11             IN  37.000000      0  0  0  1
12             V0  46.000000      1  0  0  1
13             V0  39.157629      0  0  0  1
14             IN  47.000000      1  0  0  1
15             VG  36.000000      0  0  0  1
16             IN  36.000000      1  0  0  1
17             IN  38.000000      1  0  0  1
18             IN  33.000000      0  0  0  1
19             V0  36.000000      0  1  0  0
20             IN  31.000000      1  0  0  1
21             V0  39.157629      0  1  0  0
22             V0  31.000000      0  0  0  1
23             V0  39.157629      0  0  0  1
24             IN  35.000000      1  0  0  1
25             IN  44.000000      1  1  0  0
26             IN  69.000000      0  1  0  0
27             V0  76.000000      0  0  0  1
28             IN  24.000000      1  0  1  0
29             V0  39.000000      0  1  0  0
...           ...        ...    ... .. .. ..
1743           V0  46.000000      1  0  0  1
1744           IN  54.000000      1  1  0  0
1745           V0  37.000000      0  0  0  1
1746           V0  38.000000      1  0  0  1
1747           V0  18.000000      1  0  0  1
1748           V0  24.000000      0  1  0  0
1749           VG  42.000000      1  0  0  1
1750           V0  26.000000      0  0  0  1
1751           V0  33.000000      0  0  0  1
1752           V0  28.000000      0  0  0  1
1753           VG  50.000000      0  0  0  1
1754           V0  39.157629      0  0  0  1
1755           V0  39.157629      0  0  1  0
1756           IN  38.000000      0  0  0  1
1757           IN  45.000000      0  0  1  0
1758           V0  40.000000      0  1  0  0
1759           V0  52.000000      1  1  0  0
1760           V0  40.000000      1  0  0  1
1761           V0  39.157629      1  0  0  1
1762           IN  66.000000      0  0  0  1
1763           V0  31.000000      1  1  0  0
1764           V0  28.000000      0  0  0  1
1765           V0  40.000000      1  0  0  1
1766           VG  36.000000      1  0  1  0
1767           VG  48.000000      0  0  0  1
1768           V0  32.000000      1  0  0  1
1769           V0  25.000000      0  0  0  1
1770           IN  49.000000      1  1  0  0
1771           IN  44.000000      1  1  0  0
1772           V0  69.000000      1  1  0  0

[1773 rows x 6 columns]

In [15]:
import numpy as np

In [17]:
df = df.reset_index(drop=True)

In [18]:
df = df.merge(pd.DataFrame(mlb.fit_transform(df.pop('TIPO_CLIENTE')),
                         columns=mlb.classes_,
                        index=df.index))

In [19]:
print(df)

         IDADE  PAGOU  F  I  M  0  G  N  V
0         26.0      0  0  0  1  1  0  0  1
1         26.0      0  0  0  1  1  0  0  1
2         26.0      0  0  0  1  1  0  0  1
3         26.0      0  0  0  1  1  0  0  1
4         26.0      0  0  0  1  1  0  0  1
5         26.0      0  0  0  1  1  0  0  1
6         26.0      0  0  0  1  1  0  0  1
7         26.0      0  0  0  1  1  0  0  1
8         26.0      0  0  0  1  1  0  0  1
9         26.0      0  0  0  1  1  0  0  1
10        26.0      0  0  0  1  1  0  0  1
11        26.0      0  0  0  1  1  0  0  1
12        26.0      0  0  0  1  1  0  0  1
13        26.0      0  0  0  1  0  1  0  1
14        26.0      0  0  0  1  1  0  0  1
15        26.0      0  0  0  1  1  0  0  1
16        26.0      0  0  0  1  1  0  0  1
17        26.0      0  0  0  1  1  0  0  1
18        26.0      0  0  0  1  1  0  0  1
19        26.0      0  0  0  1  1  0  0  1
20        26.0      0  0  0  1  1  0  0  1
21        26.0      0  0  0  1  1  0  0  1
22        26.0      0  0  0  1  1  0  0  1
23        26.0      0  0  0  1  1  0  0  1
24        26.0      0  0  0  1  1  0  0  1
25        26.0      0  0  0  1  1  0  0  1
26        26.0      0  0  0  1  1  0  0  1
27        26.0      0  0  0  1  1  0  0  1
28        26.0      0  0  0  1  1  0  0  1
29        26.0      0  0  0  1  1  0  0  1
...        ...    ... .. .. .. .. .. .. ..
2308182   36.0      1  0  1  0  0  0  1  0
2308183   36.0      1  0  1  0  0  0  1  0
2308184   36.0      1  0  1  0  0  0  1  0
2308185   36.0      1  0  1  0  0  0  1  0
2308186   36.0      1  0  1  0  0  0  1  0
2308187   36.0      1  0  1  0  0  0  1  0
2308188   36.0      1  0  1  0  0  0  1  0
2308189   36.0      1  0  1  0  0  0  1  0
2308190   36.0      1  0  1  0  0  0  1  0
2308191   36.0      1  0  1  0  0  0  1  0
2308192   36.0      1  0  1  0  0  0  1  0
2308193   36.0      1  0  1  0  0  0  1  0
2308194   36.0      1  0  1  0  0  0  1  0
2308195   36.0      1  0  1  0  0  0  1  0
2308196   36.0      1  0  1  0  0  0  1  0
2308197   36.0      1  0  1  0  0  0  1  0
2308198   36.0      1  0  1  0  0  0  1  0
2308199   36.0      1  0  1  0  0  0  1  0
2308200   36.0      1  0  1  0  0  0  1  0
2308201   36.0      1  0  1  0  0  0  1  0
2308202   36.0      1  0  1  0  0  0  1  0
2308203   36.0      1  0  1  0  0  0  1  0
2308204   36.0      1  0  1  0  0  0  1  0
2308205   36.0      1  0  1  0  0  0  1  0
2308206   36.0      1  0  1  0  0  0  1  0
2308207   36.0      1  0  1  0  0  0  1  0
2308208   36.0      1  0  1  0  0  0  1  0
2308209   36.0      1  0  1  0  0  0  1  0
2308210   36.0      1  0  1  0  0  0  1  0
2308211   36.0      1  0  1  0  0  0  1  0

[2308212 rows x 9 columns]

In [21]:
# mudando a ordem das colunas para exibição

In [22]:
cols = list(df.columns.values)

In [23]:
cols.pop(cols.index('PAGOU'))

'PAGOU'

In [25]:
df = df[cols+['PAGOU']]

In [26]:
print(df)

         IDADE  F  I  M  0  G  N  V  PAGOU
0         26.0  0  0  1  1  0  0  1      0
1         26.0  0  0  1  1  0  0  1      0
2         26.0  0  0  1  1  0  0  1      0
3         26.0  0  0  1  1  0  0  1      0
4         26.0  0  0  1  1  0  0  1      0
5         26.0  0  0  1  1  0  0  1      0
6         26.0  0  0  1  1  0  0  1      0
7         26.0  0  0  1  1  0  0  1      0
8         26.0  0  0  1  1  0  0  1      0
9         26.0  0  0  1  1  0  0  1      0
10        26.0  0  0  1  1  0  0  1      0
11        26.0  0  0  1  1  0  0  1      0
12        26.0  0  0  1  1  0  0  1      0
13        26.0  0  0  1  0  1  0  1      0
14        26.0  0  0  1  1  0  0  1      0
15        26.0  0  0  1  1  0  0  1      0
16        26.0  0  0  1  1  0  0  1      0
17        26.0  0  0  1  1  0  0  1      0
18        26.0  0  0  1  1  0  0  1      0
19        26.0  0  0  1  1  0  0  1      0
20        26.0  0  0  1  1  0  0  1      0
21        26.0  0  0  1  1  0  0  1      0
22        26.0  0  0  1  1  0  0  1      0
23        26.0  0  0  1  1  0  0  1      0
24        26.0  0  0  1  1  0  0  1      0
25        26.0  0  0  1  1  0  0  1      0
26        26.0  0  0  1  1  0  0  1      0
27        26.0  0  0  1  1  0  0  1      0
28        26.0  0  0  1  1  0  0  1      0
29        26.0  0  0  1  1  0  0  1      0
...        ... .. .. .. .. .. .. ..    ...
2308182   36.0  0  1  0  0  0  1  0      1
2308183   36.0  0  1  0  0  0  1  0      1
2308184   36.0  0  1  0  0  0  1  0      1
2308185   36.0  0  1  0  0  0  1  0      1
2308186   36.0  0  1  0  0  0  1  0      1
2308187   36.0  0  1  0  0  0  1  0      1
2308188   36.0  0  1  0  0  0  1  0      1
2308189   36.0  0  1  0  0  0  1  0      1
2308190   36.0  0  1  0  0  0  1  0      1
2308191   36.0  0  1  0  0  0  1  0      1
2308192   36.0  0  1  0  0  0  1  0      1
2308193   36.0  0  1  0  0  0  1  0      1
2308194   36.0  0  1  0  0  0  1  0      1
2308195   36.0  0  1  0  0  0  1  0      1
2308196   36.0  0  1  0  0  0  1  0      1
2308197   36.0  0  1  0  0  0  1  0      1
2308198   36.0  0  1  0  0  0  1  0      1
2308199   36.0  0  1  0  0  0  1  0      1
2308200   36.0  0  1  0  0  0  1  0      1
2308201   36.0  0  1  0  0  0  1  0      1
2308202   36.0  0  1  0  0  0  1  0      1
2308203   36.0  0  1  0  0  0  1  0      1
2308204   36.0  0  1  0  0  0  1  0      1
2308205   36.0  0  1  0  0  0  1  0      1
2308206   36.0  0  1  0  0  0  1  0      1
2308207   36.0  0  1  0  0  0  1  0      1
2308208   36.0  0  1  0  0  0  1  0      1
2308209   36.0  0  1  0  0  0  1  0      1
2308210   36.0  0  1  0  0  0  1  0      1
2308211   36.0  0  1  0  0  0  1  0      1

[2308212 rows x 9 columns]